<header>
 <meta name="viewport" content="width=device-width">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
</header>


@media screen and (max-width: 899px) {
.blank {

}
}




@media screen and (max-width: 899px) {
img.images {
	display: inline-block;
	width: 75%;
	padding-right: 1%;
	padding-bottom: 1%;
}
}

@media screen and (max-width: 899px) {
.content {
	position: absolute;
	left: 5vw;
	top: 15em;
	padding: 15px;
	width: 95vw;
	z-index: 1100;
}
}

@media screen and (max-width: 400px) {
.content {
	position: absolute;
	left: .8vw;
	top: 15em;
	padding: 15px;
	width: 95vw;
	z-index: 1100;
}
}



@media screen and (max-height: 500px) {
.content {
	top: 7em;
}
}

@media screen and (max-width: 899px) {
    .sections {
    width: 160px;
	position: absolute;
	left: 5vw;
	top: 5em;
	padding: 15px;
	padding-right: 15px;
	z-index: 1000;
    }
}

@media screen and (max-height: 500px) {
    .sections {
 	display: none;
    }
}

@media screen and (max-width: 400px) {
.logo {
top: 0em;
left: 1em;

	}
}

@media screen and (max-width: 400px) {
.links {
top: 5em;
right: -2.5em;
	}
}

