<header>
 <meta name="viewport" content="width=device-width">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
</header>

@media screen and (max-width: 899px) {
img.images {
	display: inline-block;
	width: 80%;
	padding-right: 1%;
	padding-bottom: 1%;
}
}

@media screen and (max-width: 899px) {
.content {
	position: absolute;
	left: 5vw;
	top: 15em;
	padding: 15px;
	width: 100vw;
	z-index: 1100;
}
}